/Files/Calculadora/nbproject/private/
/Files/Calculadora/build/
/Files/OperadorTernario/nbproject/private/
/Files/OperadorTernario/build/
/Files/OperadoresLogicos/nbproject/private/
/Files/OperadoresLogicos/build/
/Files/VerificadorIdade/nbproject/private/
/Files/VerificadorIdade/build/
/Files/LeitorPensamento/nbproject/private/
/Files/ProgramaMedia/nbproject/private/
/Files/ProgramaMediaa/nbproject/private/
/Files/ProgramaMediaa/build/
/Files/ProgramaParImpar/nbproject/private/
/Files/ProgramaParImpar/build/
/Files/EquacaoSegundoGrau/nbproject/private/
/Files/EquacaoSegundoGrauu/nbproject/private/
/Files/EquacaoSegundoGrauu/build/
/Files/ExVotacao/nbproject/private/
/Files/ExVotacao/build/
/Files/ExEquacaoSegundoGrau/build/
/Files/ExEquacaoSegundoGrau/nbproject/private/
/Files/EXTiposPrimitivos/build/
/Files/EXTiposPrimitivos/nbproject/private/